<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813249978198-vr115evb7iupu7vknp31g3g7o1uvsmli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813249978198-vr115evb7iupu7vknp31g3g7o1uvsmli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813249978198-3j908lvf68prj7fapd0b8dp3rjl60ank.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo3c4Jk8Cg7HHmhKgSa5XirGPSiDz3_Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>813249978198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasknotatebeta</string>
	<key>PROJECT_ID</key>
	<string>tasknote-8d716</string>
	<key>STORAGE_BUCKET</key>
	<string>tasknote-8d716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813249978198:ios:17aa77f0b15a6f891700f7</string>
</dict>
</plist>